/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'color_schemes';
@import 'font-awesome';
@import 'font-awesome-sprockets';
@import 'jquery-ui';
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$color-darkest: #114b54;
$color-dark: #1a936f;
$color-neutral: #738290;
$color-light: #88d498;
$color-lightest: #c6dabf;

body, html {
  background-color: $color-darkest !important;
  font-family: 'Ubuntu', sans-serif;
  * {
    font-family: 'Ubuntu', sans-serif !important;
  }
  i.fa {
    font-family: 'FontAwesome' !important;
  }
  strong {
    font-weight: 900;
  }
}

body {
  padding: 2.0em 3.0em;
  height: 100vh;
}

a.link-btn {
  color: $flat-clouds;
  border: none;
  text-decoration: none;
  padding: 0.5em 1.25em;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
  &.new-btn {
    background-color: $flat-nephritis;
    &:hover {
      background-color: lighten($flat-nephritis, 5%);
      color: $flat-clouds;
    }
  }
  &.root-btn, &.cancel-btn {
    background-color: $flat-concrete;
    &:hover {
      background-color: lighten($flat-concrete, 5%);
      color: $flat-clouds;
    }
  }

}

a.icon-btn {
  color: white;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  &:hover {
    color: white;
  }
}

.folder-title {
  color: $flat-clouds;
  text-align: center;
}

form.box-form {
  width: 50%;
  margin: 0 auto;
  color: $flat-clouds;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 2.5em;
  border-radius: 0.75em;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
  div.form-group {
    text-align: left;
  }
  input[type="submit"] {
    background-color: $flat-nephritis;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    border: none;
    color: $flat-clouds;
    padding: 0.5em 1.25em;
    &:hover {
      background-color: lighten($flat-nephritis, 5%);
    }
  }
  select {
    color: black;
    width: 50%;
    padding: 0.5em;
    margin-bottom: 1.5em;
  }
}

div.folders-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 2.0em;
  .folder-box {
    position: relative;
    margin-right: 1.0em;
    padding: 1.0em 1.5em;
    padding-bottom: 0.5em;
    background-color: rgba(0,0,0,0.5);
    min-width: 250px;
    max-width: 300px;
    text-align: center;
    border-radius: 0.75em;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    p.title {
      color: $flat-clouds;
      font-weight: bold;
      font-size: 1.25em;
    }
    p.description {
      color: $flat-clouds;
      padding-top: 0.5em;
      font-weight: lighter;
      margin-bottom: 5em;
    }
    hr {
      opacity: 0.2;
      margin: 0.5em 0;
      width: 100%;
    }
    a.icon-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    div.toolbar {
      position: absolute;
      bottom: 5px;
      left: 5px;
      right: 5px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      a.toolbar-item {
        text-decoration: none;
        color: $flat-clouds;
        text-align: center;
        flex-grow: 1;
        padding: 0.5em;
        border: 1px solid rgba($flat-clouds, 0.25);
        font-weight: lighter;
        &:hover {
          //border: 1px solid $flat-clouds;
          background-color: rgba($flat-clouds, 0.1);
        }
      }
    }
  }
}

table.order-table {
  width: 100%;
  margin: 2.0em 0;
  background-color: $flat-clouds;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
  thead{
    background-color: $flat-asbestos;
    color: $flat-clouds;
    tr th{
      text-align:left;
      background-color:rgba(0,0,0,0.5);
      color:white;
      padding: 0.75em;
      &.center {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        color: $flat-midnight-blue;
        border: 1px solid rgba($flat-midnight-blue, 0.5);
        padding: 0.75em;
        &.center {
          text-align: center;
        }
        &.edit {
        }
        &.delete  {
          a {
            color: $flat-alizarin;
            text-decoration: none;
          }
        }
        &.info {
          color: $flat-concrete;
        }
        &.blank {
          background-color: rgba(0,0,0,0.25);
        }
      }
      &.total-row {
        border-top: 2px solid black;
        font-size: 1.1em;
      }
    }
  }

  textarea {
    height: 4em;
  }
  a.settings i {
    font-size: 1.25em;
  }
  input.btn-save {
    width: auto;
    height: auto;
    margin-top: 0;
    margin: 0 auto;
    font-size: 1.1em;
    border: none;
    box-shadow: none;
  }

}
