/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'color_schemes';
@import 'font-awesome';

body, html {
  background-color: $flat-black-700;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$color-darkest: #114b54;
$color-dark: #1a936f;
$color-neutral: #738290;
$color-light: #88d498;
$color-lightest: #c6dabf;

body, html {
  background-color: $color-darkest !important;
}

body {
  padding-top: 2em;
  height: 100vh;
}

div.list-container {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 50%;
  padding: 0.5em;
  margin: 0 auto;
  position: relative;
  div.list-item {
    $border-color: rgba(0,0,0,0.5);
    position: relative;
    cursor: pointer;
    width: 90%;
    padding: 0.7em 1em 1em 0.7em;
    background-color: darken(#ecf0f1, 10%);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 0.4em;
    margin-bottom: 1em;
    transition: all 0.4s ease;
    filter: drop-shadow(2px 2px 1px $border-color);
    i#delete-btn {
      color: #e74c3c;
      opacity: 0;
      position: absolute;
      right: 0.75em;
      bottom: 0.5em;
      pointer-events: none;
      font-size: 14px;
    }
    a#add-btn {
      text-decoration: none;
      color: transparent;
      i#add-btn {
        position: absolute;
        top: 0;
        right: -0.25em;
        font-size: 1.2em;
        color: #e0e0e0;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
        transition: all 0.25s ease;
        cursor: pointer;
        &:hover {
          color: #3498db;
        }
      }
    }
    &:hover {
      // border-bottom: 4px solid $border-color;
      // border-right: 3px solid $border-color;
      filter: drop-shadow(4px 4px 1px $border-color);
      padding-left: 1em;
      padding-right: 1.5em;
      i#delete-btn {
        opacity: 0.75;
        pointer-events: all;
        &:hover {
          opacity: 0.9;
          font-size: 16px;
          transition: all 0.2s ease;
        }
      }
    }
    div.row-content {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid black;
      div.item-left {
        border-left: 1px solid rgba(0,0,0,0.3);
        padding-left: 0.5em;
        margin-right: 3.0em;
        flex-grow: 8;
        p.item-title {
          text-align: left;
          margin: 0;
          font-weight: bold;
        }
        p.subtitle {
          text-align: left;
          margin: 0;
          font-size: 0.7em;
          -webkit-font-smoothing: antialiased;
          padding-left: 0.1em;
        }
      }
      div.item-right {
        padding-top: 0.25em;
        flex-grow: 2;
        p.annotation {
          text-align: right;
          font-size: 0.8em;
          font-weight: lighter;
          opacity: 0.8;
        }
      }
    }
    div.content {
      padding: 1.0em;
      display: flex;
      align-items: center;
      justify-content: center;
      p.content {
        font-weight: lighter;
      }
    }
  }
}
