// turqoise
$flat-turqoise: #1abc9c;
$flat-green-sea: #16a085;

// green
$flat-emerald: #2ecc71;
$flat-nephritis: #27ae60;

// blue
$flat-peter-river: #3498db;
$flat-belize-hole: #2980b9;

// dark blue
$flat-wet-asphalt: #34495e;
$flat-midnight-blue: #2c3e50;

// purple
$flat-amethyst: #9b59b6;
$flat-wisteria: #8e44ad;

// yellow/orange
$flat-sunflower: #f1c40f;
$flat-orange: #f39c12;

// dark orange
$flat-carrot: #e67e22;
$flat-pumpkin: #d35400;

// red
$flat-alizarin: #e74c3c;
$flat-pomegranate: #c0392b;

// white/gray
$flat-clouds: #ecf0f1;
$flat-silver: #bdc3c7;

// dark gray
$flat-concrete: #95a5a6;
$flat-asbestos: #7f8c8d;

// black
$flat-black-500: #424242;
$flat-black-700: #212121;
$flat-black-900: #141414;